<!-- Category & Search Bar -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <select id="select-category" class="selectpicker border-right-0" multiple title="&nbsp;&nbsp;&nbsp;All Categories">  
          <% categories.forEach(function(category){ %>
            <option><%= category.categoryName %></option>
          <% }); %>  
        </select>
      </div>
      <input id="search" type="text" class="form-control" aria-label="Text input with dropdown button">
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary"
          id="button-addon2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      </div>
    </div>


    