<%- include partials/header %>
  <!-- Page Content -->
  <div class="container">

    <%- include partials/catagory %>

    <%- include partials/product %>

  </div>
  <!-- /.container -->

<%- include partials/footer %>
