<%- include partials/header %>
  <!-- Page Content -->
  <div class="container">

    <%- include partials/show_categories %>

    <%- include partials/show_products %>

  </div>
  <!-- /.container -->

<%- include partials/footer %>
